{% extends "base.html" %}
{% load static %}


{% block head_block %}
	
	<meta name="description" content="">
	
{% endblock %}



{% block header %}
	
	
	
{% endblock %}




{% block content %}
	
	
	<div class="mt-4"></div>
	
	<!-- Form start -->
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		
		<div class="container">
			
			<legend class="mb-2">Creating a new question</legend>
			
			<!-- Question -->
			<div class="form-floating mb-3">
				<input required name="question" type="text" placeholder="Question" class="form-control">
				<label class="ps-4" for="floatingInput">Question</label>
			</div>
			
			
			
			<!-- Answer(s) -->
			{{ answer_formset.management_form }}
			<label class="form-label mt-4">Answer(s)</label>
		
			<div class="px-4" id="answer-formset-container">
			<!-- Render each form in the formset -->
			{% for form in answer_formset %}
					<div class="formset-form">
						{{ form.id }}
						{{ form.answer }}
						{{ form.is_correct }}
					</div>
				{% endfor %}
			</div>
			
			<!-- Button to add a new form -->
			<div class="mt-1 px-4">
				<button type="button" class="btn btn-outline-primary" id="add-answer">Add More</button>
				<button type="button" class="btn btn-outline-danger" id="remove-answer">Remove</button>
			</div>
			
			<!-- Correct Answer Select 
			<div class="form-check form-switch mt-2">
				<input class="form-check-input" name="is_correct" type="checkbox" style="transform: scale(1.5);">
				<label class="form-check-label ms-2" for="flexSwitchCheckDefault">Select as Correct Answer</label>
			</div> -->
			
			
			
			
			<!-- Submit button -->
			<div class="container">
				<button type="submit" class="btn btn-lg btn-outline-primary mt-5">Save</button>
		</div>
			
	</form>
	
	
	
	
	<!-- Add JavaScript to handle adding more forms -->
	<script>
	document.addEventListener('DOMContentLoaded', function () {
		const formContainer = document.getElementById('answer-formset-container');
		const addBtn = document.getElementById('add-answer');
		const removeBtn = document.getElementById('remove-answer');
		const totalForms = document.getElementById('id_answers-TOTAL_FORMS');
	
		let formNum = formContainer.children.length;
		
		// Adding a new answer
		addBtn.addEventListener('click', function () {
			const newForm = formContainer.children[0].cloneNode(true);
			const formRegex = RegExp(`answers-(\\d+)-`, 'g');
			
			newForm.innerHTML = newForm.innerHTML.replace(formRegex, `answers-${formNum}-`);
			
			// clear values
			newForm.querySelectorAll('input, textarea').forEach(el => {
					if (el.type === 'checkbox') el.checked = false;
				else el.value = '';
			});
	
			formContainer.appendChild(newForm);
			totalForms.value = ++formNum;
		});
		
		// Removing a field
		removeBtn.addEventListener('click', function () {
			if (formNum > 1) {
				formContainer.removeChild(formContainer.lastElementChild);
				totalForms.value = --formNum;
			} else {
				alert("You need at least one answer.");
			}
		});
	});
	</script>
	
{% endblock %}