{% extends "base.html" %}
{% load static %}


{% block head_block %}
	
	<meta name="description" content="">
	
{% endblock %}



{% block header %}
	
	<!-- Hero Header -->
	<div class="py-5 bg-dark hero-header mb-5">
		<img src="{% static 'img/bg-hero.webp' %}" alt="Hero background" fetchpriority="high">
		<div class="container hero-content text-center my-2 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated fadeInDown roboto-font">Select Context</h1>
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				<li class="breadcrumb-item text-white active" aria-current="page">Select Context</li>
			</ol>
			</nav>
		</div>
	</div>
	
{% endblock %}




{% block content %}
	
	
	<div class="mt-4"></div>
	
	<!-- Form start -->
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		
		<div class="container">
			
			<legend class="mb-2">Select an existing context</legend>
			
			<!-- Select Context -->
			<div class="mb-4">
				<label for="exampleSelect1" class="form-label"></label>
				<select name="context_selection" class="form-select form-select-lg" id="context_id">
					<option value="">----------------</option>
					{% for context in existing_context %}
						<option value="{{ context.id }}">{{ context.context_id }}</option>
					{% endfor %}
				</select>
			</div>
			
			<!-- Submit button -->
			<div class="container mb-5">
				<button name="selected" type="submit" class="btn btn-lg btn-outline-primary">Select</button>
			</div>
			
			
			<hr>
			
			<!-- Basic Info -->
			<legend class="mb-2">Create a new context</legend>
			
			
			<div class="row">
				
				<!-- Context ID -->
				<div class="col-12 col-sm-4 form-floating mb-3">
					<input name="context_id" type="number" placeholder="Context ID" class="form-control">
					<label class="ms-3" for="floatingInput">Context ID</label>
				</div>
				
				<!-- Context Title -->
				<div class="col-12 col-sm-8 form-floating mb-3">
					<input name="context_title" type="text" placeholder="Context Title" class="form-control">
					<label class="ms-3" for="floatingInput">Context Title</label>
				</div>
				
			</div>
			
			
			
			<!-- Context Text Area -->
			<div class="mb-3">
				<label class="form-label">Context</label>
				<textarea name="context" class="form-control" rows="3"></textarea>
			</div>
			
			
			
			
			<!-- Submit button -->
			<div class="container mb-5">
				<button name="create_new" type="submit" class="btn btn-lg btn-outline-primary">Save</button>
			</div>
			
		</div>
		
	</form>
	
	
	
	
{% endblock %}