{% extends "base.html" %}
{% load static %}


{% block head_block %}
	
	<meta name="description" content="">
	
{% endblock %}



{% block header %}
	
	<!-- Hero Header -->
	<div class="py-5 bg-dark hero-header mb-5">
		<img src="{% static 'img/bg-hero.webp' %}" alt="Hero background" fetchpriority="high">
		<div class="container hero-content text-center my-2 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated fadeInDown roboto-font">Upload CSV</h1>
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				<li class="breadcrumb-item text-white active" aria-current="page">Upload CSV</li>
			</ol>
			</nav>
		</div>
	</div>
	
{% endblock %}




{% block content %}
	
	
	
	<div class="mt-4"></div>
	
	<!-- Form start -->
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		
		<div class="container">
			
			<legend class="mb-2">Bulk import through a .cvs file</legend>
			
			<!-- File upload -->
			<div>
				<label class="form-label mt-4">CSV File</label>
				<input required name="file" type="file" class="form-control" accept=".csv">
			</div>
			
			<!-- Submit button -->
			<div class="mb-5">
				<button type="submit" class="btn btn-lg btn-outline-primary mt-5">Upload</button>
			</div>
			
	</form>
	
	
	
{% endblock %}