{% extends "base.html" %}
{% load static %}


{% block head_block %}
	
	<meta name="description" content="">
	
{% endblock %}



{% block header %}
	
	<!-- Hero Header -->
	<div class="py-5 bg-dark hero-header mb-5">
		<img src="{% static 'img/bg-hero.webp' %}" alt="Hero background" fetchpriority="high">
		<div class="container hero-content text-center my-2 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated fadeInDown roboto-font">Your MCQs</h1>
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				<li class="breadcrumb-item text-white active" aria-current="page">MCQs</li>
			</ol>
			</nav>
		</div>
	</div>
	
{% endblock %}




{% block content %}
	
	
	<div class="mx-3">
		<table class="table table-hover">
			
			<thead>
				<tr>
					<th scope="col">Context ID</th>
					<th scope="col">Question ID</th>
					<th scope="col" class="col-8">Question</th>
				</tr>
			</thead>
			
			
			<tbody>
				
				{% for question in questions %}
					<tr>
						<th scope="row">{{ question.context_id }}</th>
						<td>{{ question.q_id }}</td>
						<td scope="col" class="col-8">
							<a href="{% url 'single_question' question.id %}">
								{{ question.question }}
							</a>
						</td>
					</tr>
				{% endfor %}
				
			</tbody>
			
		</table>
	</div>
	
	
{% endblock %}