{% extends "base.html" %}
{% load static %}


{% block head_block %}
	
	<meta name="description" content="">
	
{% endblock %}



{% block header %}
	
	<!-- Hero Header -->
	<div class="py-5 bg-dark hero-header mb-5">
		<img src="{% static 'img/bg-hero.webp' %}" alt="Hero background" fetchpriority="high">
		<div class="container hero-content text-center my-2 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated fadeInDown roboto-font">Your MCQs</h1>
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				<li class="breadcrumb-item text-white active" aria-current="page">MCQs</li>
			</ol>
			</nav>
		</div>
	</div>
	
{% endblock %}




{% block content %}
	
	
	<!-- Form start -->
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
		<!-- Evaluate question -->
		<div class="text-center my-3">
			<button type="submit" class="btn btn-lg btn-outline-success">Evaluate</button>
		</div>
	</form>
	
	
	
	<div class="mx-3">
		<table class="table table-hover">
			
			<thead>
				<tr>
					<th scope="col">Context ID</th>
					<th scope="col">Question ID</th>
					<th scope="col" class="col-8">Question</th>
				</tr>
			</thead>
			
			
			<tbody>
				
				{% for question in page_obj %}
					<tr>
						<th scope="row">{{ question.context_id }}</th>
						<td>{{ question.q_id }}</td>
						<td scope="col" class="col-8">
							<a href="{% url 'single_question' question.id %}">
								{{ question.question }}
							</a>
						</td>
					</tr>
				{% endfor %}
				
			</tbody>
			
		</table>
	</div>
	
	
	<hr>
	
	
	<div class="d-flex justify-content-center">
		<ul class="pagination pagination-lg">
			
			<li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
				<a class="page-link" href="?page=1">
				&laquo;
				</a>
			</li>
			
			{% if page_obj.has_previous %}
				<li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
				</li>
			{% endif %}
			
			
			{% for num in page_obj.paginator.page_range %}
				{% if page_obj.number == num %}
					<li class="page-item active" aria-current="page">
					<a class="page-link" href="#">{{ num }}</a>
					</li>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
					<li class="page-item">
					<a class="page-link" href="?page={{ num }}">{{ num }}</a>
					</li>
				{% endif %}
			{% endfor %}
			
			
			{% if page_obj.has_next %}
				<li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
				</li>
			{% endif %}
			
			<li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
				<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
				&raquo;
				</a>
			</li>
			
			
		</ul>
	</div>
	
{% endblock %}