{% extends "base.html" %}
{% load static %}


{% block header %}
	
	<!-- Hero Header -->
	<div class="py-5 bg-dark hero-header mb-5">
		<img src="{% static 'img/bg-hero.webp' %}" alt="Hero background" fetchpriority="high">
		<div class="container hero-content text-center my-2 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated fadeInDown roboto-font">New Password</h1>
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				<li class="breadcrumb-item text-white active" aria-current="page">New Password</li>
			</ol>
			</nav>
		</div>
	</div>
	
{% endblock %}



{% block content %}
	
	
	
	{% if validlink %}
		<form method="post">
			{% csrf_token %}
			
			<div class="container">
		
				<h2 class="row d-flex justify-content-center mb-4">Set a new password</h2>
				
				
				<!-- New Password -->
				<div class="row d-flex justify-content-center">	
					<div class="form-floating col-md-8 col-lg-6 mb-3">
						<input required name="new_password1" type="password" placeholder="New password" class="form-control">
						<label class="ms-3" for="floatingInput">New password</label>
						{% if form.new_password1.errors %}
							<small class="error">{{ form.new_password1.errors.0 }}</small>
						{% endif %}
					</div>
				</div>
				
				
				<!-- Confirm Password -->
				<div class="row d-flex justify-content-center">	
					<div class="form-floating col-md-8 col-lg-6 mb-3">
						<input required name="new_password2" type="password" placeholder="Confirm new password" class="form-control">
						<label class="ms-3" for="floatingInput">Confirm new password</label>
						{% if form.new_password2.errors %}
						<small class="error">{{ form.new_password2.errors.0 }}</small>
					{% endif %}
					</div>
				</div>
				
				
				<!-- Reset Password button -->
				<div class="row d-flex justify-content-center">
					<div class="col-md-8 col-lg-6 mt-3">
						<button type="submit" class="btn btn-lg btn-outline-primary w-100">Change password</button>
					</div>
				</div>
				
				
			</div>
			
		</form>
	{% else %}
		<p>The reset link is invalid or has expired.</p>
	{% endif %}
	
	
	
{% endblock %}